@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primaryAccent: #2e68dd;
  --secondaryAccent: #212f52;
  --primaryBg: #020315;
  --secondaryBg: #454a5c;
}

@media (max-width: 30rem) {
  --row-gap: 1rem;
  --column-gap: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 20 !important;
}

/* @layer components { */

/* } */
